GITLAB_TOKEN=
GITLAB_URI=https://gitlab.example.com
GITLAB_REPO_BASE_URL=

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
LANGFUSE_DEBUG=false

USER_ID=user@example.com

TAVILY_API_KEY=
BYPASS_TOOL_CONSENT=true
DISABLE_ADOT_OBSERVABILITY=true
LANGFUSE_DEBUG=true
